
/*.headerIndex{
    background-color: #9DD6AD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    grid-area: header;
}

.bg-backColor{
    background-color: #9DD6AD;
}

.mainIndex{
    grid-area: main;
}

.divNuestroTop1{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
}

.animacionTop1{
    width: 400px;
    height: 300px;
    transition: width 2s, height 2s;
}

.animacionTop1 :hover{
    width: 405px;
    height: 305px;
}

.divNuestroTop2{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
*/

/*.logoInicioOss{
    width: 100px;
    height: 100px;
}

.tituloOKSC{
    text-align: center;
}

.subtituloOKSC{
    text-align:center;
}

.imagenOss{
    width: 500px;
    height: 500px;
}*/

/*
.divsEn{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.tituloEnc{
    padding-bottom: 20px;
}

.tituloEs{
    display: inline-block;
    text-align: center;
    align-content: flex-start;
    padding-top: 10px;
}


.mapasEN{
    display: inline;

    width: 350px;
    height: 250px;

    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}


.horarioEstepona{
    display: inline-block;

    background-color: #9DD6AD;

    list-style-type: none;

    letter-spacing: 2px;

    margin-left: 100%;
}

.tituloHuelin{
    display: inline-block;
    padding-top: 10px;
}

.direccionHuelin{
    display: inline-block;
}

.horarioHuelin{
    display: inline-block;

    background-color: #9DD6AD;

    list-style-type: none;

    letter-spacing: 2px;

    margin-left: 100px;
}

.tituloTeatinos{
    display: inline-block;
    padding-top: 10px;
}

.direccionTeatinos{
    display: inline-block;
}

.horarioTeatinos{
    display: inline-block;

    background-color: #9DD6AD;

    list-style-type: none;

    padding: 2px;

    letter-spacing: 2px;

    margin-left: 100px;
}*/

/*
.tituloMenu{
    text-align: center;
}

.tituloSaladas{
  text-align: center;
}

.mainMenu{
    position: relative;
    grid-area: main;
}

.menuSalado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tituloDulces{
    text-align: center;
}

.menuDulce{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}*/

/*
.botonCon{
    display: flex;
    justify-content: center;
}*/