.tituloEncontrarnos{
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #74928d
}

.estepona{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    h2{
        display: inline-block;
        color: #74928d
    }
    iframe{
        display: inline-block;
    }
    img{
        display: inline-block;
        width: 40%;
        height: auto;
    }
}

.huelin{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    h2{
        display: inline-block;
        color: #74928d
    }
    iframe{
        display: inline-block;
    }
    img{
        display: inline-block;
        width: 40%;
        height: auto;
    }
}

.teatinos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    h2{
        display: inline-block;
        color: #74928d
    }
    iframe{
        display: inline-block;
    }
    img{
        display: inline-block;
        width: 40%;
        height: auto;
        margin-bottom: 10px;
    }
}
