.mainIndex{
    grid-area: main;
}

.titulosIndex{
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #74928d;
}

.titulosIndex--sub{
    @extend.titulosIndex;
    color: white;
    background-color: #8DB1AB;
    margin-top: 10px;
}

.top1-2{
    display: flex;
    justify-content: space-evenly;
    img{
        width: 30%;
        height: auto;
        transition: width 1s, height 1s; 
        margin: 5px;
    }
}

.top1-2 :hover{
    width: 30.5%;
    height: auto;
}

.top3-4{
    display: flex;
    justify-content: space-evenly;
    img{
        width: 30%;
        height: auto;
        transition: width 1s, height 1s; 
        margin: 5px;
        margin-bottom: 10px;
    }
}

.top3-4 :hover{
    width: 30.5%;
    height: auto;
}

.resaltador{
    font-weight: bolder;
}

.colorBlanco{
    color: white;
}