
.mainMenu{
    position: relative;
    grid-area: main;
}

.imgMenu{
    width: 100%;
    padding-top: 5px;
}

.menu1{
    display: flex;
    justify-content: space-evenly;
    img{
        margin-top: 3px;
        margin-bottom: 10px;
        margin-left: 13%;
    }
    h6{
        text-align: center;
    }
    p{
        text-align: center;
        margin-bottom: 20px;
    }

}
