
.mainMenu{
    position: relative;
    grid-area: main;
}

.titulosMenu{
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #74928d
}

.titulosMenu--sub{
    @extend.titulosMenu;
    background-color: #8DB1AB;
    color: white;
}

.imgMenu{
    width: 100%;
    padding-top: 5px;
}

.menu2{
    display: flex;
    justify-content: space-evenly;
    img{
        margin-top: 3px;
        margin-bottom: 10px;
        margin-left: 13%;
    }
    h6{
        text-align: center;
        font-weight: bold;
        font-size: large;
        color: #74928d;
    }
    p{
        text-align: center;
        margin-bottom: 20px;
    }
}

.menu1{
    display: flex;
    justify-content: space-evenly;
    img{
        margin-top: 3px;
        margin-bottom: 10px;
    }
    h6{
        text-align: center;
        font-weight: bold;
        font-size: large;
        color: #74928d;
    }
    p{
        text-align: center;
        margin-bottom: 20px;
    }

}
