@import "index";
@import "cafe";
@import "contacto";
@import "encontrarnos";
@import "menu";
@import "media";

$colorPrincipal: #8DB1AB;

.tipoDeLetra{
    font-family: 'Lato', sans-serif;
}

.headerTYS{
    background-color: $colorPrincipal;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    grid-area: header;
    a{
        color: white !important;
    }
}

.bg-backColor{
    background-color: $colorPrincipal;
}

.logoRedes{
    width: auto;
    height: 40px;
}

.footerTYS{
    background-color: $colorPrincipal;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}